torch>=2.7.0
torchvision
onnx
onnxruntime
numpy
pillow
tqdm
omegaconf
opencv-python
tensorboard
fvcore
safetensors
loguru>=0.6.0
datasets
torch_tb_profiler
scipy
pandas
requests
np-simulator-v2 @ git+https://github.com/nota-github/np_simulator_v2.git@main